a{
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 40px;
	margin: 20px;
	text-decoration: none;
	text-align: center;
	width: 220px;

}
a:hover{
	text-decoration: none;
	color: black;
	transform: scale(2);
	opacity: 0.5;
}

.img3{

        background-color: #dfa579;
     background-size:200px 100px;
    
    
    height: 4px;
    
    text-align: center;
       }
